html, body {
    margin: 0;
    padding: 0;
}

body {
    background: no-repeat center center fixed; 
    background-image: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#container{
    display: flex;

flex-direction: column;
justify-content: center;
align-items: center;


    
   
}

#localTime{
    font-weight: bold;
    font-size: 4vw;
}

button{
    width:150px;
    height: 150px;
    color: whitesmoke;
    font-size: 3em;
    background-color: blue;
    border-radius: 20%;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
  }

#artist  p{
    font-weight: bold;
    font-size: 4vh;
}
h1{
    color: blue;
}