html, body {
    margin: 0;
    padding: 0;
    color: whitesmoke;
}

body {
    background: no-repeat center center fixed; 
    background-image: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#container{
    height:100vh;
    display: flex;

flex-direction: column;
justify-content: space-between;
}

#CryptoAndWeather{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#localTime{
    font-weight: bold;
    font-size: 4vw;
}

button{
    width:150px;
    height: 150px;
    color: whitesmoke;
    font-size: 3em;
    background-color: blue;
    border-radius: 20%;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
  }

#artist  p{
    font-weight: bold;
    font-size: 4vh;
    text-shadow: 1px 1px 2px black
}
h1{
    color: blue;
}

#localTime{
    text-align: center;
}